$c-white: #fff;
$c-white-30: rgba($c-white, 0.3);
$c-black: #000;
$c-red: #ed3d63;
$c-red-50: #73345e;
$c-red-25: #432958;
$c-green: #34cfac;
$c-blue: #8db6ff;
$c-yellow: #ffd85a;
$c-navy: #00293c;
$c-navy-light: #26284f;
$c-dark-label: #3b3c5c;
$c-ios-light-grey: #cdced2;
$c-ios-blue: #007aff;
$c-ios-dark-grey: #707074;
$c-skin: #cdc0b2;

$c-background: $c-navy;
$c-background-light: #15185a;
$c-heading: $c-white;
$c-text: #de7a22;
$c-link: $c-text;
$c-primary-link: $c-white;
$c-switch-dot-border: #eee;

$dots-active: #d94d47;
$dots-inactive: #3c3e62;

$primary-gradient-start: #f5e356;
$primary-gradient-end: #cb6318;
