$font-path: '~/fonts/';

$ff-averta: 'Averta Std';
$ff-base: $ff-averta, Helvetica, Arial, sans-serif;
$ff-notime: 'NoTime';

$fs-h1: rem(27px);
$fs-h2: rem(24px);
$fs-h3: rem(18px);
$fs-h4: rem(16px);
$fs-small: rem(12px);
$fs-xsmall: rem(10px);
$fs-huge: rem(36px);
$fs-ios: rem(11px);

$fs-p: rem(15px);
$lh-p: rem(24px);

$fs-button: rem(18px);
$fs-button-md: rem(16px);
$fs-button-sm: rem(14px);

$fw-normal: 400;
$fw-bold: 700;
